<!DOCTYPE <!DOCTYPE html>
<html>
    <head>
        <title>Places to Travel</title>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
	<link rel="shortcut icon" href="http://icons.iconarchive.com/icons/icons8/windows-8/128/Transport-Airplane-Mode-On-icon.png">
    </head>
    <body>
        <div class="ui container inverted teal menu">
            <div class="header item"><i class="plane icon"></i>Places to Travel</div>
            <a href="/" class="item">Home</a>
            <a href="/places/new" class="item">New Post</a>
        </div>
