<% include ./partials/header %>


<div class="container">
        
    <header class="jumbotron">
            <h2>Travel sites with Michael and Rebecca</h2>
    </header>
    <div class="row text-center" style="display:flex; flex-wrap: wrap">
            <% places.reverse().forEach(function(place) { %>
                <a href="/places/<%= place._id %>">
                <div style="display: flex;" id="place" class="col-md-3 col-sm-6">
                    <div class="thumbnail">
                        <div class="caption"><%=place.name %></div>
                        <img src="<%=place.image%>" alt="">
                    </div>
                </a>
                </div>
            
            <% }) %>
            </div>
</div>


<% include ./partials/footer%>
